@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gotham";
    background: #EEEBEB;
    width: 100vw;
}
.hero {
   background:url("/images/hero-bg.png");
    background-color:rgba(57, 60, 84, 0.59);
    background-size:cover;
    background-repeat: no-repeat;
}
.card:nth-child(even){
    flex-direction: row-reverse;
}
@media  screen and (min-width:768px) {
    .hero{
        background: none;
    }
}